build*/
subprojects/packagecache/
subprojects/*/
!subprojects/*.wrap
*.o
*.a
*.so
*.so.*
*.dylib
*.dll
*.exe
.cache/
compile_commands.json
.vscode/
.idea/
*.swp
*.swo
core
vgcore.*
*.gcda
*.gcno
*.gcov
coverage/
.DS_Store
.omc/
